body {
    font-family: Arial, sans-serif;

    background: #fff;
}
.container
{
    width: 700px;
    margin: 40px auto;
    border: 2px solid #444;
    background: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px;
    padding: 10px;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.x {
    color: #2ecc40;
    font-size: 50px;
    font-family: Arial Black, Arial, sans-serif;
    margin-right: 2px;
}
.company {
    color: #222;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.nav {
    font-size: 10px;
    display: flex;

    align-items: center;
    gap: 5px;
}
.nav a {
    color: #4b006e;
    text-decoration: underline;
    margin: 2px;
}
.main{
    display: flex;
}
.sidebar {
    width: 200px;
    border-right: 2px solid #444;
    padding-right: 10px;
    margin-left: 10px;
}
.sidebar ul{
    list-style: disc;
    padding-left: 20px;
}
.sidebar ul li {
    margin-bottom: 5px;
}
.sidebar ul li a {
    color: #4b006e;
    text-decoration: underline;
}
.content {
    margin: 30px;
    border: 1px solid black;
    margin-left: 2px;
}
.profile-info h2{
    font-weight: 100;
    font-size: 17px;
    margin: -10px 0 0 15px;
    padding-left: 3px;
    width: 33%;
    background: white;
    display: flex;
}
.prole .name{
        padding-left: 15px;
        display: flex;
        justify-content: space-between;

}
.picture img{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin-left: 1%;
    margin-top: 20px;
    text-align: center;
    line-height: 150px;
    font-size: 14px;
    color: gray;
}

.hr2{
    margin-left: 5%;
    width: 90%;
}
.content1{
 display: flex;
  
    justify-content: space-between;
    padding: 20px;
    gap: 70px;
}

.footer {
    text-align: center;
    padding: 10px ;
    font-size: 12px;
    color: #222;
    border-top: 2px solid #444;
}
