body {
    font-family: Arial, sans-serif;

    background: #fff;
}
.container
{
    width: 700px;
    margin: 40px auto;
    border: 2px solid #444;
    background: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px;
    padding: 10px;

}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.x {
    color: #2ecc40;
    font-size: 50px;
    font-family: Arial Black, Arial, sans-serif;
    margin-right: 2px;
}
.company {
    color: #222;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.nav {
    font-size: 10px;
    display: flex;

    align-items: center;
    gap: 5px;
}
.nav a {
    color: #4b006e;
    text-decoration: underline;
    margin: 2px;
}
.main{
    display: flex;
}
.sidebar {
    width: 200px;
    border-right: 2px solid #444;
    padding-right: 10px;
    margin-left: 5px;
}
.sidebar ul{
    list-style: disc;
    padding-left: 20px;
}
.sidebar ul li {
    margin-bottom: 5px;
}
.sidebar ul li a {
    color: #4b006e;
    text-decoration: underline;
}
.content {
    flex: 1;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px ;
    font-size: 12px;
    color: #222;
    border-top: 2px solid #444;
}
